@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(45, 84, 255);
}

/* !Header  */

header {
    background-color: rgb(255, 184, 97);
    height: 80px;
    margin-bottom: 50px;
    font-family: "Titan One", cursive;
}

/* * Logo/Title  */

#title {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px white;
    line-height: 65px;
}

.over-grid {
    position: relative;
    height: 100px;
    background-color: rgb(77, 110, 255);
    margin: 0 auto;
    width: 1000px;
    border-radius: 10px 10px 0px 0px;
    font-family: "Titan One", cursive;
}

/* ? Grid  */

#my_container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1000px;
    height: 900px;
    background-color: rgb(77, 110, 255);
    border-radius: 0px 0px 10px 10px;
    border: 10px solid rgb(77, 110, 255);
    font-family: "Titan One", cursive;
}

/* ? Grid content  */

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border-radius: 8px;
    border: 2px solid rgb(231, 231, 231);
    background-color: rgb(113, 168, 255);
    text-align: center;
    text-shadow: 2px 2px #000000;
    font-size: 40px;
    color: orange;
    line-height: 80px;
    font-family: "Titan One", cursive;
    cursor: pointer;
}

/* * Play Button and emoji  */

.play-button {
    position: absolute;
    right: 15px;
    top: 40px;
    width: 120px;
    height: 40px;
    background-color: orange;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    border: 2px solid transparent;
    transition: 0.3s;
    border: 2px solid white;
    animation: blink 7s infinite;
    cursor: pointer;
}

/* ? Emoji  */

.emoji {
    font-size: 28px;
}

#smile {
    position: absolute;
    top: 40px;
    left: 300px;
}

#explos {
    position: absolute;
    top: 40px;
    left: 40px;
}

#time {
    position: absolute;
    top: 40px;
    left: 500px;
}

/* * Play button animations  */

@keyframes blink {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: rgb(45, 84, 255);
        text-shadow: none;
    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #03bcf4,
            0 0 80px #fff,
            0 0 160px #03bcf4;

    }
}


/* !Color over squares when clicked  */

.highlighted {
    background-color: rgb(45, 84, 255);
    color: black;
    text-shadow: 2px 2px rgb(255, 184, 97);
}

.fa-face-grin-hearts {
    font-size: 20px;

}

footer {
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    background-color: rgb(255, 184, 97);
    height: 60px;
}